* {box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  font-size: 36px;
  padding: 0 10px;
}

#albums h2 a {
  color: #4286CD;
  text-decoration: underline;
}

ul li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 100%;
  font-size: 24px;
  border-bottom: 1px solid #333;
  padding: 5px 10px;
}

ul li:hover {
  background-color: #f9f9f9;
}


.links {
  float: left;
  margin: -2px 0 0;
  display: none;
}

ul li:hover .links {
  display: block;
}

ul li .links li {
  float: right;
  border: none;
  width: auto;
  margin: 0;
  height: 35px;
  width: 35px;
}

.links a {
  margin: 0;
  height: 35px;
  width: 35px;
  overflow: hidden;
  text-indent: -10000px;
  color: #fff;
  opacity: .7;
}

.links a:hover {
  opacity: 1;
  cursor: pointer;
}


.links .spotify { background: url(/images/spotify.png) 0 0 no-repeat; }
.links .rdio { background: url(/images/rdio.png) 0 0 no-repeat; }
.links .itunes { background: url(/images/itunes.png) 0 0 no-repeat; }
.links .amazon { background: url(/images/amazon.png) 0 0 no-repeat; }
.links .torrent { background: url(/images/torrent.png) 0 0 no-repeat; }
.links .play { background: url(/images/play.png) 0 0 no-repeat; }

ul {
  padding: 0;
  margin: 0;
}

ul#albums {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

ul#tracks {
  position: fixed;
  top: 0;
  left: 60%;
  width: 40%;
  height: 100%;
  overflow-y: auto;
}


li .cover img {
  height: 30px;
  float: left;
  margin: 5px 5px 0 0;
}

.track,.album{
  padding: 5px;
  font-weight: 600;
}

.title {
  font-weight: normal;
  color: #777;
  margin: 0 20px 0 5px;
}

.score {
  color: #FF9C15;
}

a {
  text-decoration: none;
  color: #222;
}

#albums a {
  float: left;
}

#albums li {
  border-color: #ddd;
}

#albums h2 {
  color: #fff;
}


